@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$colorOne: #1A0B2E;
$colorTwo: #2A186C;
$colorThree: #412567;
$green: #00FF88;
$white: #ffffff;
$gray: #dbdbdb;
$black: #000000;

@mixin linearGradient($angle){
  background: linear-gradient($angle, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
}

@mixin flexBox($justify, $item, $direction){
  display: flex;
  justify-content: $justify;
  align-items: $item;
  flex-direction: $direction;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: all 0.1s linear;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.all_none {
  display: none;
}

.btn_gradient{
  @include linearGradient(35deg);
  padding: 0.75rem 1rem;
  border-radius: 1.375rem;
  color: $white;

  &:hover{
    @include linearGradient(-125deg);
  }
}

.btn_green{
  padding: 0.7rem 1rem;
  border: 1px solid $green;
  border-radius: 1.4rem;
  color: $green;

  &:hover{
    background-color: $green;
    color: $colorOne;
  }
}


// Start Header Section
header{
  background-color: $colorOne;
  border-bottom: 1px solid $colorThree;

  .navbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .logo{
      color: $white;
      font-size: 2rem;
      font-weight: 700;

      span{
        background: linear-gradient(35deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
        background-clip: text;
        color: transparent;
      }
    }

    .menu{
      display: flex;
      align-items: center;
      gap: 2rem;

      a{
        color: $white;

        &:hover{color: $green;}
      }
    }

    .menu_bar{
      color: $white;
      font-size: 1.8rem;
    }
  }
}

// Hero Section
.hero{
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6.25rem 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;

  .container{
    @include flexBox(center, center, column);
    gap: 3rem;
    padding: 0 1.5rem;

    .mic{
      @include linearGradient(35deg);
      width: 21.25rem;
      height: 21.25rem;
      border: 0.7rem solid $colorTwo;
      border-radius: 10.625rem;
      @include flexBox(center, center, row);

      img{
        height: 11rem;
      }

      &:hover{
        @include linearGradient(-125deg);

        img{
          transform: scale(1.1);
        }
      }
    }

    .content{
      @include flexBox(center, center, column);

      h1{
        font-size: 3.5rem;
        color: $white;
      }
      p{
        color: $gray;
        margin-bottom: 2rem;
        text-align: center;
      }
    }
  }
}

// About the podcast section
.about{
  padding: 3.1rem 12.5rem 7.5rem 12.5rem;
  background-color: $colorOne;

  .container{
    .textarea{
      margin: 0 auto;
      width: 80%;
      text-align: center;

      h2{
        color: $white;
        font-size: 2.5rem;
        line-height: 5rem;
      }

      p{
        color: $gray;
        line-height: 2rem;
      }
    }
  }
}

// Responsive Section
@media screen and (min-width: 992px) {
  .lg_hidden{display: none!important;}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  html{font-size: 80%;}
  .md_hidden{display: none!important;}
}

@media screen and (max-width: 576px) {
  html{font-size: 62.5%;}
  .sm_hidden{display: none!important;}
}